.buildpath
cache/*
log/*
lib/model/doctrine/base/*
lib/filter/doctrine/base/*
lib/form/doctrine/base/*
lib/filter/doctrine/VendorGuiseFormFilter.class.php
lib/form/doctrine/VendorGuiseForm.class.php
log/*
nbproject/
import/*
test/unit/import/*
export/*
test/unit/export/**/*.xml
test/unit/data/downloaded_feeds/ny/[!.]*
.project
.settings
.chanels
.depdb
.depdblock
.filemap
.lock
.registry
.sf
*.swp
*.swo
*~
lib/vendor/htmlpurifier-library/HTMLPurifier/DefinitionCache/*
tags
/*.csv
/*.sql
/*.sql.gz
/*.xml
