.buildpath
cache/*
log/*
nbproject/
.project
.settings
*.swp
*.swo
lib/model/doctrine/base/Base*
lib/form/doctrine/base/Base*
lib/filter/doctrine/base/Base*
test/unit/export/event/*
test/unit/export/poi/*
test/unit/export/movie/*
