.duplicate_pois_listing{
    display: block;
    margin: 0 0 1em;
    padding: .5em;
    border: 1px dotted #ccc;
}

.duplicate_pois_listing span{
    display: block;
    border-bottom: 1px solid #eee;
    padding: .5em;
}

.duplicate_pois_listing a.remove, .duplicate_pois_listing a.remove:visited{
    background-color: #FFF;
    color: #A00000 !important;
    padding: .2em;
    font-weight: bold;
    border-right: 1px solid #ccc;
}

.duplicate_pois_listing a.remove:hover
{
    background-color: #A00000;
    color: #FFF !important;
    text-decoration: none !important;
}