html{
    background: #ccc;
    font: 12px/1.5 verdana;
}

body {
    margin: 0 auto !important;
    margin-bottom: 100px !important;
    padding: 30px 0 30px 30px;
    width: 1150px;
    background: white;
    -webkit-box-shadow: 0 0 5px 1px #aaa;
    -moz-box-shadow: 0 0 5px 1px #aaa;
}

a {
    color: #0C196E;
}

a:hover {
    color: #545454;
}

hr {
    border: none;
    border-top:#DDDDDD solid 1px;
    height:1px;
}

h1, h2, h3{
    margin: 0;
}

h1,
#sf_admin_container h1{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 30px;
}

#logo {
    height:45px;
}

#header {
    width:150px;
    float:left;
    margin-right: 10px;
}

#header img{
    width: 100px;
}

#header span{
    display: block;
    clear: left;
    width: 100px;
    background: #E61515;
    color: white;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    padding: 3px 0;
}

#menu {
}

#menu ul {
    padding:0px;
    margin:0px;
}

#menu>ul>li {
    padding-right: 15px;
    width: 150px;
}

#menu li {
    float:left;
    list-style: none;
    margin:0px;
}

#menu li li {
    float:none;
}

#menu, #menu a {
    color: #000000;
    text-decoration: none;
}

#menu a {
    padding:2px;
    color: #545454;
}

#menu a:hover {
    color: #000;
    background-color: #FFFFFF;
}

#sf_admin_container fieldset h2
{
  background-color: #69BAE9;
}

#infoBox {
    float:right;
    background-color: #fff;
    border:#000 solid 1px;
    padding:4px;
    margin:20px 10px 10px 10px;
}

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
}

#poi_filters_vendor_poi_category_list, #poi_filters_poi_category_list, #event_filters_vendor_event_category_list{
    width: 300px;
}

/* get-listed external data entry forms CSS */
.get-listed h1 span.beta-flag {
 vertical-align: top;
 padding-left: 5px;
 letter-spacing: -1px;
}

.get-listed form div.gray-box ul.radio_list li,
.get-listed form div.gray-box ul.checkbox_list li {
 display: block;
 float: left;
 width: 90px;
}

.get-listed form div.gray-box input {
 margin-left: 0;
 margin-top: 0;
}

.get-listed form .gray-box {
 border: 1px solid #aaa;
 background: #eee;
 padding: 6px;
}

.get-listed form .gray-box span.note{
 clear: left;
 display: block;
}

.get-listed form span.note.above {
 margin-bottom: 5px;
}

.get-listed  form span.note.below {
 margin-top: 5px;
}

.get-listed form .gray-box div.field {
 margin-bottom: 15px;
}

.get-listed form .gray-box div.field li{
 margin-bottom: 10px;
}

.get-listed span.required {
 color: #ed1b24;
}

.get-listed ul.bulleted {
 list-style-type: disc;
 margin-left: 1.2em;
}

.get-listed #sublisting_recurring_dates_recurring_monthly_month_number,
.get-listed #sublisting_recurring_dates_recurring_weekly_week_number{
 width: 2em;
}

.get-listed .introduction,
.get-listed-thanks {
 font-size: 1.166em;
 line-height: 1.4;
 padding-bottom: 10px;
}

.get-listed-thanks p {
 margin-bottom: 18px;
}

.get-listed p {
 margin: 14px 0;
}

.get-listed .introduction p.error-message {
 color: #ed1b24;
}

.get-listed .and-or {
 display: block;
 float: left;
 width: 30%;
 text-align: right;
 padding-top: 1em;
}

.get-listed input.readonly {
  background: #eee;
}

.get-listed form .submit-button {
 background: #fff url(/images/sprites/search.gif?v=2.0) no-repeat scroll left
  -594px;
 height: 24px;
 width: 122px;
}

.get-listed li.newsletter_subscription input {
 float: left;
 margin-bottom: 12px;
}

.get-listed li.newsletter_subscription input {
 float: left;
 display: block;
}

#recurring_monthly_weekday_container,
#recurring_monthly_position_container {
 float:left;
}

#recurring_monthly_weekday_container {
 margin-left: 10px;
}

#recurring_information_label {
 float: left;
 margin-right:5px;
}

.hidden{
 display:none;
}

.clearer{
 clear: left;
}

div.override
{
    background-color: #FCF6CF !important;
}

#content{
    padding-top: 30px;
    position: relative;
}

#sf_admin_container #sf_admin_content{
    width: 645px;
    display: block;
}


table{
    width: 100%;
}

#sf_admin_container td:first-child label{
    display: block;
    width: 150px;
    text-align: right;
    padding: 3px 8px 0 0;
}

#sf_admin_container th,
#sf_admin_container td{
    padding: 5px 0;
}

#sf_admin_container tr:hover{
    background-color: transparent;
}

.hiddenFilter,
#sf_admin_venue_details,
#sf_admin_bar{
    background-color: #EBF0EF;
    float: right;
    margin-right:25px;
    margin-left: 0;
    width: 470px;
}

#sf_admin_venue_details{
    width: 480px;
    margin-right:20px;
}

#sf_admin_container .hiddenFilter tr,
#sf_admin_container .hiddenFilter td,
#sf_admin_venue_details tr,
#sf_admin_venue_details td,
#sf_admin_container #sf_admin_content tfoot tr,
#sf_admin_container #sf_admin_content tfoot td,
#sf_admin_container #sf_admin_content tr,
#sf_admin_container #sf_admin_content td,
#sf_admin_container #sf_admin_bar tr,
#sf_admin_container #sf_admin_bar td,
#sf_admin_container #sf_admin_bar .sf_admin_form_row {
    border: none;
    background: transparent;
}

#sf_admin_container #sf_admin_content thead th{
    border: none;
}

#sf_admin_container #sf_admin_content tfoot th:first-child,
#sf_admin_container #sf_admin_content tbody td:first-child,
#sf_admin_container #sf_admin_content thead th:first-child{
    padding-left: 5px;
}

#sf_admin_container #sf_admin_content tfoot th:last-child,
#sf_admin_container #sf_admin_content tbody td:last-child,
#sf_admin_container #sf_admin_content thead th:last-child{
    padding-right: 5px;
}

#sf_admin_container #sf_admin_venue_details tfoot td:last-child{
    padding-right: 25px;
}

#sf_admin_container .hiddenFilter tfoot td:last-child{
    padding-right: 16px;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter_field_created_at td select,
#sf_admin_container #sf_admin_bar .sf_admin_filter_field_updated_at td select,
#sf_admin_container #sf_admin_bar .sf_admin_filter_field_review_date td select{
    width: 50px;
}

#sf_admin_container #sf_admin_content td{
    //border-bottom: 1px solid #ddd;
}

#sf_admin_venue_details td,
#sf_admin_bar td {
    width: 100%;
    padding-bottom: 8px;
}

.hiddenFilter td:first-child,
#sf_admin_venue_details td:first-child,
#sf_admin_bar td:first-child {
  width: 150px;
}

#sf_admin_container .hiddenFilter td select,
#sf_admin_container .hiddenFilter td input,
#sf_admin_container .hiddenFilter td textarea,
#sf_admin_venue_details td select,
#sf_admin_venue_details td input,
#sf_admin_venue_details td textarea,
#sf_admin_bar td select,
#sf_admin_bar td textarea,
#sf_admin_bar td input{
    width: 295px;
}

#sf_admin_container .hiddenFilter td input[type=checkbox],
#sf_admin_venue_details td input[type=checkbox],
#sf_admin_bar td input[type=checkbox]{
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    width: auto;
}

#sf_admin_container .sf_admin_form fieldset select,
#sf_admin_venue_details td select,
#sf_admin_bar td select,
#sf_admin_container .sf_admin_form fieldset input[type=text],
#sf_admin_venue_details td input[type=text],
#sf_admin_bar td input[type=text]{
    padding-top: 3px;
    border: 1px solid #aaa;
}

#sf_admin_venue_details td select[multiple=multiple],
#sf_admin_bar td select[multiple=multiple]{
    background: white;
}

#sf_admin_container .hiddenFilter td input[type=button],
#sf_admin_container .hiddenFilter td input[type=submit],
#sf_admin_venue_details td input[type=button],
#sf_admin_bar td input[type=submit]{
    width: 100px;
    margin-left: 5px;
}

#sf_admin_container #sf_admin_venue_details{
    height: 400px;
}

#sf_admin_container .hiddenFilter td,
#sf_admin_container .hiddenFilter th,
#sf_admin_container .hiddenFilter tr,
#sf_admin_container #sf_admin_content tfoot th,
#sf_admin_container #sf_admin_content tfoot tr,
#sf_admin_container #sf_admin_venue_details tbody,
#sf_admin_container #sf_admin_venue_details tfoot,
#sf_admin_container #sf_admin_venue_details tr,
#sf_admin_container #sf_admin_venue_details td,
#sf_admin_container #sf_admin_bar tbody,
#sf_admin_container #sf_admin_bar tfoot{
    border: none;
}

#sf_admin_container .hiddenFilter tbody tr:first-child td,
#sf_admin_container #sf_admin_venue_details tbody tr:first-child td,
#sf_admin_container #sf_admin_bar tbody tr:first-child td{
    padding-top: 15px;
}

#sf_admin_container #sf_admin_venue_details tfoot td,
#sf_admin_container #sf_admin_bar tfoot td{
    padding-right: 15px;
}

#sf_admin_container.geocode_fix{
    border: none;
    margin: 0;
    padding: 0;
}

/*FORM*/

#sf_admin_container .sf_admin_form fieldset{
    border: none;
}

#sf_admin_container .sf_admin_form fieldset h2{
    background-color: #E7EEF6;
    font-size: 100%;
    padding-left: 5px;
}

#sf_admin_container .sf_admin_form fieldset label{
    text-align: right;
    padding-right: 3px;
}

#sf_admin_container .sf_admin_form fieldset .help br{
    display: none;
}

#sf_admin_container .sf_admin_form_row {
    padding: 8px;
    border: none;
    border-top: 1px solid white;
}

#sf_admin_container #sf_fieldset_info .sf_admin_form_row .help{
    display: none;
}

#sf_admin_container #sf_admin_content tr.even{
    background: #f3f3f3;
}
