body {
    margin: 0;
    padding: 0 0 0 10px;
}

a {
    color: #0C196E;
}

a:hover {
    color: #545454;
}

hr {
    border: none;
    border-top:#DDDDDD solid 1px;
    height:1px;
}

#logo {
    height:45px;
}

#header {
    width:300px;
    float:left;
}

#menu {
    padding-top:50px;
}

#menu ul {
    padding:0px;
    margin:0px;
}

#menu li {
    float:left;
    list-style: none;
    padding-right:10px;
    margin:0px;
}

#menu, #menu a {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}

#menu a {
    padding:2px;
    color: #545454;
}

#menu a:hover {
    color: #000;
    background-color: #FFFFFF;
}

#sf_admin_container fieldset h2
{
  background-color: #69BAE9;
}

#infoBox {
    float:right;
    background-color: #fff;
    border:#000 solid 1px;
    padding:4px;
    margin:20px 10px 10px 10px;
}

.clear {
    clear:both;
    height:1px;
    overflow:hidden;
}
